
.NavBox {
  margin-top: 0;
  padding-bottom: 0.8rem;
  color: var(--textColor);
  background-color: var( --bgColor);
}

.NavButtonBox {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.NavButton {
  color: var(--navButton-text);
  background-color: var(--navButton-bg);
  margin-left: 1rem;
}

.NavHelpModalOpenButton {
  background-color: var(--helpButton-bg);
  color: var(--helpButton-text);
  margin-right: 1em;
}

.NavHelpModalCloseButton {
  /* modal doesn't seem to inherit styles from parents. Strange because it does with CDN ..
    and things like button styles. Might debug this one day ... */
  /* background-color: var(--helpCloseButton-bg);
  color: var(--helpCloseButton-text); */
  background-color: rgb(163, 162, 162);
  color: black; 
  margin-right: 1em;
}


.NavThemeButton {
  background-color: var(--themeButton-bg);
  color: var(--themeButton-text);
  margin-right: 1em;
}
