
.HeaderSurroundingBox {
  position: relative; /* has to be explicitly included or z-index will not be applied */
  box-shadow: 0 0.3rem 6px var(--boxShadowColor);
}
.HeaderHeaderBox {
  background-color: var(--bgColor);
  color: var(--textColor);
  font-family: 'Bevan', cursive;
  font-size: 9vw;
  margin: 0;
  padding: 1rem;
  display:flex;
  justify-content: space-around;
  align-content: center;
}

.HeaderReactLogo {
  animation: React-logo-spin infinite 10s linear;
  height: 7vmin;
  pointer-events: none;
}

@keyframes React-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}