
.ListItemParentRow {
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: darkgrey;

}
.ListItemImg {
  width: 90%;
}

.ListItemSaveButton {
  background-color: lightblue;
  color: darkgrey;
  border-style: solid;
  border-color: darkgrey;
  border-width: 4px;
  border-radius: 10px;
}

.ListItemDescription {
  color: green;
}
