
.ListItemParentRow {
  border-style: solid;
  border-width: 4px;
  border-radius: 10px;
  border-color: darkgrey;
  padding: 1rem;
  margin-top: 0.5rem;

}
.ListItemImg {
  width: 90%;
}

.ListItemSaveButton {
  background-color: rgb(2, 212, 2);
  color:black;
  margin-bottom: 0.25rem;
}
.ListItemGoogleButton {
  background-color: rgb(79, 120, 231);
  color:white; 
}
.ListItemDeleteButton {
  background-color: red;
  color: black;
}
.ListItemDescription {
  /* color: green; */
}
