/* Theme definitions */



#themeSelector.themeA {
  --textColor: black;
  --bgColor: #56bd20;
  --bodyBackgroundColor: gray;
  --navButton-bg: #044d04;
  --navButton-text: white;
  --themeButton-bg: black;
  --themeButton-text: white;
  --helpButton-bg: #044d04;
  --helpButton-text: white;
  --helpCloseButton-bg: grey;
  --helpCloseButton-text: white;
  --searchBox-bg: beige;
  --searchBox-text: black;
  --listBackgroundColor: white;
  --listTextColor: rgb(80, 80, 80);
  --listBorderColor: darkgrey;
  --buttonSearch-bg: blue;
  --buttonSearch-text: white;
  --googleButton-bg: rgb(79, 120, 231);
  --googleButton-text: white;
  --saveButton-bg: rgb(2, 212, 2);
  --saveButton-text: black;
  --deleteButton-bg: red;
  --deleteButton-text: black;

}

#themeSelector.themeB {
  --textColor: white;
  --bgColor: darkblue;
  --bodyBackgroundColor: rgb(43, 42, 42);
  --navButton-bg: rgb(0, 68, 255);
  --navButton-text: white;
  --helpButton-bg: rgb(0, 68, 255);
  --helpButton-text: white;
  --helpCloseButton-bg: grey;
  --helpCloseButton-text: white;
  --themeButton-bg: white;
  --themeButton-text: black;
  --searchBox-bg: black;
  --searchBox-text: white;
  --listBackgroundColor: black;
  --listTextColor: white;
  --listBorderColor: rgb(219, 219, 219);
  --buttonSearch-bg: lightblue;
  --buttonSearch-text: black;
  --googleButton-bg: rgb(79, 120, 231);
  --googleButton-text: white;
  --saveButton-bg: rgb(2, 212, 2);
  --saveButton-text: black;
  --deleteButton-bg: rgb(255, 115, 0);
  --deleteButton-text: black;

}

/* set up background */
#themeSelector {
  background-color: var(--bodyBackgroundColor);
}
/* if we want to make background color part of the theme, then cannot attach it at a
   point in the DOM above where the file was imported */


/* global button definition. Add local color styling to create new button */

/* features
  - flat
  - rounded corners
  - removes css button default styling (focus in particular)
  - small cap font (doesn't convert to upper case)
  - hover: grows, adds drop shadow, gets brighter
  - click: ripple animation. White oval gradient created (using ::after), larger than button so not
    normally visible. On click, goes to normal size, then slowly grows again, which creates ripple effect
  - disabled: removes hover, active(click) features
    custom button must add any style changes due to disabled (e.g. greying out) .<my name>:disabled {}
  - can add a ::before in the customization. The search button uses this to show a text instead of button
    when the button is disabled
*/

.buttonGlobal {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  /* small caps font */
  font-family: 'Alegreya Sans SC', sans-serif;
  position: relative;
  overflow: hidden;
  border: 0; /* default button style has a border, which we don't need */
  outline: none;
  cursor: default;
}
.buttonGlobal::before {
  visibility: hidden ;
}

/* Default :focus style has an outline, so remove it */
.buttonGlobal:focus {
  outline: none;
}
/* Here ::after creates a new white object with a circular gradient that can be scaled in and out */
.buttonGlobal::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(ellipse, #fff, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;

}
/* on hover, grow a little, add box-shadow and brighten background color */
.buttonGlobal:hover:enabled {
  box-shadow: 0.2rem 0.2rem 4px rgb(90, 90, 90);
  filter: brightness(120%);
  transition: scale 0.25s;
  transform: scale(1.04,1.04);
  transform-origin: center;
}
/* darken background color to a little darker what it was, good contrast for ripple */
.buttonGlobal:hover:active:enabled {
    filter: brightness(95%);
    transition: filter 0s;
}
/* sets the ripple up */
.buttonGlobal:active::after:enabled {
  transform: scale(0,0);
  opacity: 0.7;
  transition: 0s;
}

/* fonts */
/* set font family in body so everything else inherits it */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Alegreya Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* don't really need this */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
/* different font for headers, serif */
h1,h2,h3,h4,h5,h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Lora', serif;

}