/* Theme definitions */


#themeSelector.themeA {
  --textColor: black;
  --bgColor: lightgreen;
  --buttonSearch-bg: blue;
  --buttonSearch-text: white;
  --bodyBackgroundColor: gray;

}

#themeSelector.themeB {
  --textColor: white;
  --bgColor: darkblue;
  --buttonSearch-bg: lightblue;
  --buttonSearch-text: black;
  --bodyBackgroundColor: gray;

}

/* set up background */
#themeSelector {
  background-color: var(--bodyBackgroundColor);
}
/* if we want to make background color part of the theme, then cannot attach it at a
   point above where the file was imported */


/* global button definitions */

.buttonGlobal {
  padding: 0.5rem 1rem 0.5rem 1rem;
  border-radius: 20px;
  /* small caps font */
  font-family: 'Alegreya Sans SC', sans-serif;
  position: relative;
  overflow: hidden;
  border: 0; /* default button style has a border, which we don't need */
  outline: none;
  cursor: default;
}
.buttonGlobal::before {
  visibility: hidden ;
}

/* Default :focus style has an outline, so remove it */
.buttonGlobal:focus {
  outline: none;
}
/* Here ::after creates a new white object with a circular gradient that can be scaled in and out */
.buttonGlobal::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
  background-image: radial-gradient(ellipse, #fff, transparent 10.01%);
  background-repeat: no-repeat;
  background-position: 50%;
  transform: scale(10,10);
  opacity: 0;
  transition: transform 0.5s, opacity 1s;

}
/* on hover, grow a little, add box-shadow and brighten background color */
.buttonGlobal:hover:enabled {
  box-shadow: 0.2rem 0.2rem 4px rgb(90, 90, 90);
  filter: brightness(120%);
  transition: scale 0.25s;
  transform: scale(1.04,1.04);
  transform-origin: center;
}
/* darken background color to a little darker what it was, good contrast for ripple */
.buttonGlobal:hover:active:enabled {
    filter: brightness(95%);
    transition: filter 0s;
}
/* sets the ripple up */
.buttonGlobal:active::after:enabled {
  transform: scale(0,0);
  opacity: 0.7;
  transition: 0s;
}

/* fonts */
/* set font family in body so everything else inherits it */
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Alegreya Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

/* don't really need this */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,h2,h3,h4.h5.h6 {
  font-family: -apple-system, BlinkMacSystemFont, 'Lora', serif;

}